#app {
  position: relative;
  margin-top: 20px;
  height: 70%;
  background: #eee;
  overflow: hidden;
}

#content-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 24px;
  background: rgb(248, 229, 235);
}

#countDistance {
  position: absolute;
  top: 40px;
  left: 15px;
  z-index: 10;
  padding: 5px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  background: #f8f8f8;
  color: #42b983;
}

#content {
  padding: 5px 0;
  max-width: 60%;
}

#content>h3 {
  font-weight: 700;
  color: rgb(135, 171, 148);
}

#top {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate3d(0, -100%, 0);
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: 200;
}

#bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: 200;
}

#returnTop {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#returnTop-text {
  display: inline-block;
  transform: scaleX(1.6);
  width: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
}